.flex {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: rgb(3, 3, 59);
}

.heading h3 {
  font-size: 32px;
  font-weight: bold;
}

.heading h3 span {
  color: aqua;
}

.about h3 {
  color: #fff;
  width: 135px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #fa709a;
  margin-bottom: 20px;
}

.info {
  background-color: rgb(16 20 51);
  padding: 40px;
  border-radius: 15px;
}

.perinfo {
  padding: 30px 30px 200px;
  border-radius: 15px;
  background-color: rgb(16 20 51);
}

.perinfo p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #a9a9b1;
}

.name {
  float: right;
  width: 50%;
  margin-bottom: 30px;
}
.name i {
  color: aqua;
  float: left;
  font-size: 23px;
  font-weight: 500;
  margin: 0 10px;
}

.name h2 {
  font-size: 15px;
  font-weight: 500;
}

.name h4 {
  color: #a9a9b1;
  font-size: 15px;
  font-weight: 500;
}
.name span {
  padding: 0 5px;
}

.phone {
  float: left;
  width: 50%;
  margin-bottom: 30px;
}
.phone i {
  color: aqua;
  float: left;
  font-size: 23px;
  font-weight: 500;
  margin: 0 10px;
}

.phone h2 {
  font-size: 15px;
  font-weight: 500;
}

.phone h4 {
  color: #a9a9b1;
  font-size: 15px;
  font-weight: 500;
}
.phone span {
  padding: 0 5px;
}
