.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 0%;
  padding-left: 0%;
}

.heading {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: rgb(3, 3, 59);
}

.heading h3 {
  font-size: 32px;
  font-weight: bold;
}

.heading h3 span {
  color: aqua;
}

.contact h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.underline {
  width: 40px;
  height: 3px;
  background-color: #f6d365;
  margin-bottom: 20px;
}

.info {
  background-color: rgb(16 20 51);
  padding: 40px;
  border-radius: 15px;
  height: 220px;
}

.info ul {
  list-style: none;
}

.info ul li {
  float: left;
  width: 50%;
}

.name {
  width: 50%;
}

.name i {
  color: aqua;
  float: left;
  font-size: 23px;
  font-weight: 500;
  margin: 0 10px;
}

.name samp {
  font-size: 20px;
  float: right;
  color: #a8a8a8;
}

.progress {
  background-color: transparent;
  border: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 22px;
}

.progress-bar {
  background-color: transparent;
  border-right: 1px solid #fff;
}

.progress-bar-striped {
  background-size: 1rem 1rem;
}

i {
  color: aqua;
  font-size: 23px;
  font-weight: 500;
  margin: 0 10px;
}

.clghead {
  border: 2px solid #2d3052;
  border-radius: 3px;
  font-size: 20px;
}

.clghead p {
  color: aqua;
  background-color: rgb(14 19 61);
  text-align: center;
}

.clghead span {
  font-size: 15px;
}

.school {
  margin-bottom: 0%;
}

.first {
  display: flex;
}

.btn {
  padding: 12px 20px;
  background-color: #040433;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  margin: 50px 0px;
}

.btn span {
  color: aqua;
}
